/* universal selectors */
:root {
  --primary: #ffffff;
  --secondary: #9caea9;
  --tertiary: #20ffff;
  --black: #000000;
  --light-dark: #48adff;
  --dark: #5280ff;
  --border-radius: .3rem;
}


body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: play;
  color: var(--dark);
  line-height: 1.5;
  font-size: 18px;
}

/* header  */
.hero {
  padding: 3% 4%;
  background-color: var(--dark);
  color: var(--primary);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(45deg, #79dffc 0%, #2bb1ff 52%, #1e65ff 90%);
}


h1 {
  color: var(--black);
  text-align: center;
   font-size: 56px;
}

.weather {
  font-size: 20px;
}

.border{
  border: solid 1px  var(--black);
}

.col-2 {
  background-color: rgb(34, 145, 236);
  color: white;
  padding: 5px;
  margin: 5px;
}

/* hover effect */
.col-2:hover{
  box-shadow:0px 0px 10px var(--black);
}

#userCityInput {
  width: 66%;
  float: left;
}

/* button */
.button {
  font-size: 1.3rem;
  text-decoration:none;
  padding: 5px 5px;
  width: 67%;
  display: block;
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  transform: translate(-1px, -1px);
  border-radius: 10px;
}

/* form */
.form-label {
  display: block;
  margin-bottom: 10px;
}




